<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/animation.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho|Shadows+Into+Light" rel="stylesheet">  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../../public/assets/images/favicon.ico"/>
  <title>Brews For Me</title>
</head>
<body>
  {{{body}}}
</body>
<center>
  <div id='nav'>
  <a class='btn btn-light' id='homebutton' href='/'>Home</a>
  <a class='btn btn-light' id='surveybutton' href='/survey'>Survey</a>
  </div>
<hr>
<footer>
  <a href='/termsofuse' class='footerlink'>Terms of Use</a>
  <a href='/privacypolicy' class='footerlink'>Privacy Policy</a>
</footer>
</center>
</html>
