
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
<table class="table table-hover" >
  <thead>
    <tr>
      <th>My Favorites</th>
    </tr>
    <tr>
      <th></th>
      <th scope="col">Name </th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody id = "favTable">
   </tbody>
</table>

        </div>
      </div>
    </div>
  </div>
</div>

