<style>
  p {
    color: black;
  }

  h5 {
    color: black;
  }

  h6 {
    color: black;
  }

  p {
    color: black;
  }
</style>

<div class='container-fluid'>
  <div class='row animationwrapper'>
    <div class='col-md-3 col-sm-12'>
      <div class="card" id='idcard'>
        <div class="card-body">
          <h5 class="card-title" id='beername'>Yeungling Lager</h5>
          <h6 class="card-subtitle mb-2 text-muted" id='beersubtitle'>Penn's Choice</h6>
          <p class="card-text" id='beertext'>Brewed in Pennsylvania and tastes like mistakes.</p>
          <a href="/" class="card-link">Go Back</a>
        </div>
      </div>
    </div>
    <div class='col-md-6 col-sm-12' id="containerbeer">
      <div class="tap"></div>
      <div class="glass">
        <div class="beer"id='beerbody'></div>
      </div>
      <div class="pour"></div>
    </div>
    <div class='col-md-3 col-sm-12'>
      <div class="card" id='datacard'>
        <div class="card-body">
          <h5 class="card-title">Information:</h5>
          <p class="card-text" id='beerabv'>4.4 percent ABV.</p>
          <p class="card-text" id='beerorigin'>Brewed in Pennsylvania</p>
          <p class="card-text" id='beeravailability'>Available Worldwide</p>
          <p class="card-text" id='beerscore'>Recommended.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    function beerColor() {
    var EBC = 5;
      if (EBC <= 11) {
        $('.beer').css("background", "linear-gradient(white, #b87b1c,#b87b1c,#b87b1c, #b87b1c,#b87b1c)");
        $('.pour').css("background", "linear-gradient(#b87b1c, #b87b1c,white)");
      }
      else if ((EBC > 11) && (EBC <= 19)) {
        $('.beer').css("background", "linear-gradient(white, #bf8815, #bf8815, #bf8815, #bf8815,#bf8815)");
        $('.pour').css("background", "linear-gradient(#bf8815, #bf8815, white)");
      }
      else if ((EBC >= 20) && (EBC <= 28)) {
        $('.beer').css("background", "linear-gradient(white, #701e18,#701e18,#701e18, #701e18,#701e18)");
        $('.pour').css("background", "linear-gradient(#701e18, #701e18,white)");
      }
      else if ((EBC > 28) && (EBC <=36)) {
        $('.beer').css("background", "linear-gradient(white, #4b0c11, #4b0c11, #4b0c11, #4b0c11, #4b0c11)");
        $('.pour').css("background", "linear-gradient(#4b0c11, #4b0c11, white)");
      }
      else if (EBC > 36){
        $('.beer').css("background", "linear-gradient(white, #360c11, #360c11, #360c11, #360c11, #360c11)");
        $('.pour').css("background", "linear-gradient(#360c11, #360c11, white)");
    };
    };
    function beerRise() {
      $('.beer').addClass('fill');
    }
    function pourBeer() {
      $('.pour').addClass('pouring');
      beerColor();
      beerRise();
      setTimeout(function () {
        $('.pour').addClass('end');
      }, 1500);
    }
    setTimeout(function () {
      pourBeer();
    }, 300);
  });
</script>