<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
</head>

<body class="home-background">

<br><br><br><br>
<br><br><br><br>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="logo-menu">
        <img class="img-thumbnail logo" src="/assets/images/logo.png">
        </div>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <br>
            <label class="text-center" for="example-text"><p>Find Me:</p></label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Name Your Brew">
          </div>
          <a id='random' class='btn btn-light'href='glass'>Roll the Dice</a>
          <a id="submit" class="btn btn-light">Search</a>
        </form>
          <fb:login-button scope="public_profile,email" class="fb-login-button" onlogin="checkLoginState();" data-width="100px" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true">
          </fb:login-button>

          <div id="status"></div>

        <div id='matches'>
     
        
        <h3>Matches:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      testAPI();
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '254845612034892',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>