<br><br><br><br>
<br><br><br><br>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Let's find you your new favorite beer!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <br>
            <label for="example-text"><p>Find Me:</p></label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Name Your Brew">
          </div>
          <button id="submit" class="btn btn-light float-right">Submit</button>
        </form>
        <h3>Matches:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
