<div class="container">
  <br><br><br>
  <h2>Brews For Me Survey: Beer Me</h2>
  <hr>

  <h3><strong>About You</strong></h3>
  <h4>Name (Required)</h4>
  <input type="text" id="name" class="form-control" required>

  <h4>Age (You must be 21 years of age to enter.)</h4>
  <input type="text" id="age" class="form-control" required>

  <hr>

  <h3><strong>Question 1</strong></h3>
  <h4>What is the prefered ABV of the beer you enjoy?</h4>
  <select class="chosen-select" id="q1">
    <option value=""></option>
    <option value="4.5">1. 4.0 - 5.0 ABV (LIGHT BEER/LAGER)</option>
    <option value="6.5">2. 6.0 - 7.0 ABV (IPA/SAISON)</option>
    <option value="7.5">3. 7.0 - 8.0 ABV (DOUBLE IPA/BROWN ALE)</option>
    <option value="9.5">4. 9.0+ ABV (PORTER/STOUT)</option>
  </select>

  <h3><strong>Question 2</strong></h3>
  <h4>Generally speaking, you enjoy light beers like a Pale Lager, Pilsner or Wheat Ale.</h4>
  <select class="chosen-select" id="q2">
    <option value=""></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>


  <h3><strong>Question 3</strong></h3>
  <h4>Generally speaking, you enjoy light-to-medium beers like an Indian Pale Ale, American Pale Ale or Saison?</h4>
  <select class="chosen-select" id="q3">
    <option value=""></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>


  <h3><strong>Question 4</strong></h3>
  <h4>Generally speaking, you enjoy medium beers like a Double IPA, Amber Ale or Brown Ale?</h4>
  <select class="chosen-select" id="q4">
    <option value=""></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>


  <h3><strong>Question 5</strong></h3>
  <h4>Generally speaking, you'd actually prefer a darker beer, such as a Stout or Porter?</h4>
  <select class="chosen-select" id="q5">
    <option value=""></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
  </select>


  <h3><strong>Question 6</strong></h3>
  <h4>I want to see newer beers, first brewed within the last five years.</h4>
  <select class="chosen-select" id="q6">
    <option value=""></option>
    <option value="1">1. Yes</option>
    <option value="2">2. I have no preference</option>
    <option value="3">3. No</option>
  </select>


  <h3><strong>Question 7</strong></h3>
  <h4>How bitter do you like your beer?</h4>
  <select class="chosen-select" id="q7">
    <option value=""></option>
    <option value="10">Not Bitter At All (American Lager, Scottish Ale)</option>
    <option value="30">Slightly Bitter (Stout, Porter)</option>
    <option value="70">Bitter (India Pale Ale)</option>
    <option value="90">Extremely Bitter (Double or Imperial IPA, Barleywine)</option>
  </select>

  <br>
  <br>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-light btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
    Submit</button>

  <script type="text/javascript">
    $("#submit").on("click", function () {
      //grab answers and assign to values
      var abv = $("#q1").val();
      var color2 = $("#q2").val();
      var color3 = $("#q3").val();
      var color4 = $("#q4").val();
      var color5 = $("#q5").val();
      var age = $("#q6").val();
      function newBeers() {
        return (age < 2 ? "01-2013" : "01-1950");
      }
      var ibu = $("#q7").val();

      //gonna figure out a way to combine all values of the color questions to plug in ebc_gt and ebc_lt params

      var queryURL = `https://api.punkapi.com/v2/beers?abv_gt=${abv - 1}&abv_lt=${abv + 1}&ibu_gt=${ibu - 10}&ibu_lt=${ib + 10}&brewed_after=${newBeers}`;
      $.ajax({})
    });

  </script>