<div class="container">
<br><br><br>
    <h2>BrewsFor.Me Survey: Beer Me</h2>
    <hr>

    <h3><strong>About You</strong></h3>
    <h4>Name (Required)</h4>
    <input type="text" id="name" class="form-control" required>

    <h4>Age (Required: Must be 21.</h4>
    <input type="text" id="age" class="form-control" required>

    <hr>
<div class='col-6'>
    <h3><strong>Question 1</strong></h3>
    <h4>What is the minimum percentage ABV that you will tolerate?</h4>
    <select class="chosen-select" id="q1">
      <option value=""></option>
      <option value="1">4.0 ABV</option>
      <option value="2">5.0 ABV</option>
      <option value="3">6.0 ABV</option>
      <option value="4">7.0 ABV</option>
      <option value="5">8.0+ ABV (Strongly Agree)</option>
    </select>

    <h3><strong>Question 2</strong></h3>
    <h4>Generally speaking, you enjoy hoppy bears like an Indian Pale Ale?</h4>
    <select class="chosen-select" id="q2">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h3><strong>Question 3</strong></h3>
    <h4>Gernerally speaking, you'd actyually prefer a darker beer, such as a Stout?.</h4>
    <select class="chosen-select" id="q3">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h3><strong>Question 4</strong></h3>
    <h4>You rarely do something just out of sheer curiosity.</h4>
    <select class="chosen-select" id="q4">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h3><strong>Question 5</strong></h3>
    <h4>People can rarely upset you.</h4>
    <select class="chosen-select" id="q5">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
</div>
<div class='col-6'>
    <h3><strong>Question 6</strong></h3>
    <h4>It is often difficult for you to relate to other people’s feelings.</h4>
    <select class="chosen-select" id="q6">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h3><strong>Question 7</strong></h3>
    <h4>In a discussion, truth should be more important than people’s sensitivities.</h4>
    <select class="chosen-select" id="q7">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <h3><strong>Question 8</strong></h3>
    <h4>You rarely get carried away by fantasies and ideas.</h4>
    <select class="chosen-select" id="q8">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <h3><strong>Question 9</strong></h3>
    <h4>You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</h4>
    <select class="chosen-select" id="q9">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <h3><strong>Question 10</strong></h3>
    <h4>You feel more energetic after spending time with a group of people.</h4>
    <select class="chosen-select" id="q10">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
</div>
    <br>
    <br>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-light btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
     Submit</button>
