.list-group-item {
  line-height: 2.5;
}

body {
  background: url('../assets/images/barbackground1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
 
h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: 'Shadows Into Light', cursive;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
}

#matches {
  height: 400px;
}

#nav, .footerlink {
  position: relative;
  bottom: 0px;
}

.btn {
  margin: 3px;
}

